.titleSection {
  text-align: center;
  margin-bottom: var(--space-8);
}

.mainTitle {
  font-size: var(--space-8);
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #feda03;
  margin-bottom: var(--space-4);
}
.detailsSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.content {
  max-width: var(--container-xl);
  margin: 4rem auto;
  position: relative;
  z-index: 2;
  padding: var(--space-8);
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--space-4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

